APP_TITLE=Сервис бронирования переговорных комнат
DESCRIPTION=Сервис позволяет сотрудникам легко находить и резервировать доступные переговорные комнаты для своих встреч и мероприятий.

DATABASE_URL=sqlite+aiosqlite:///./fastapi.db 

SECRET=SECRETWORD

FIRST_SUPERUSER_EMAIL=user@example.com
FIRST_SUPERUSER_PASSWORD=password